<div class="container service-container">
  <div class="row">
    <div class="item item--half">
      <img src="{{ siteUrl }}{{ icon }}" alt="Crane">
      <h2 class="feature__heading">{{ serviceTitle }}</h2>
      {% include "_includes/_divider.html" %}
      <p class="feature__desc">{{ serviceDesc }}</p>
      <a href="{{ url }}" class="btn--arrow-right">Find Out More</a>
    </div>
    <!-- <div class="item item--half case-studies">
      {% include "_includes/_case-study--small.html"  with {
        'image': "http://via.placeholder.com/225x135",
        'title': "Case Study Title"
      } %}
      {% include "_includes/_case-study--small.html"  with {
        'image': "http://via.placeholder.com/225x135",
        'title': "Case Study Title"
      } %}
    </div> -->
  </div>
</div>
