{% extends "_layout" %}
{% set title = "About Us" %}

{% block content %}

<!--Hero-->
<div class="container hero--about">
  <div class="row">
    <div class="item item--twothirds">
      <h1 class="hero__heading">Interim Management Form</h1>
      <h2 class="hero__strap">TBC</h2>
    </div>
  </div>
</div>

<div class="container approach-container">
  <div class="row">
    <div class="item item--half">
      <h2 class="feature__heading">TBC</h2>
      {% include "_includes/_divider.html" %}
    </div>
    <!-- <div class="item item--half partnership-model">
      <img src="http://via.placeholder.com/600x230" alt="Our Partnership Model">
    </div> -->
  </div>
</div>




{% endblock %}
