{% extends "_layout" %}
{% set title = "Advisory Services" %}

{% block content %}

<!--Hero-->
<div class="container hero--about">
  <div class="row">
    <div class="item item--twothirds">
      <h1 class="hero__heading">Advisory Services</h1>
      <h2 class="hero__strap">High quality executive interims can provide a competitive advantage.</h2>
    </div>
  </div>
</div>

<div class="container about-cadence">
  <div class="row">
    <div class="item item--half">
      <p class="feature__desc">Cadence Partners is a leading specialist in the development of high quality executive talent that gives organisations the capability to be modern and inclusive. We help clients to identify any barriers when it comes to attracting and retaining world-class talent. <br><br>
      With our support, boards become better at engaging with a wider market, appealing to stakeholders internally and externally across the full social spectrum.<br><br>
      Our advisory service has resulted in two recent breakthrough programmes, namely Aspiring Leaders and the NHS’s new approach for meeting the Workforce Race Equality Standard (WRES).
      </p>
    </div>
  </div>
</div>

<div class="container about-cadence">
    <div class="row">
      <div class="item item--full">
        <h3 class="feature__heading">The Aspiring Leaders Development Programme</h3>
        {% include "_includes/_divider.html" %}
      </div>
      <div class="item item--half">
        <p class="feature__desc">Aspiring Leaders enables organisations to develop executives from non-traditional backgrounds and give them board-level capabilities. <br><br>

        While the executives develop their skills in a supportive environment, their employer benefits from the individual’s new thinking and improved leadership and decision-making skills.<br><br>>
        
        At Cadence Partners, we manage the development of new executives, facilitating each stage of the programme. Over the course of the programme, participants will:<br>
        <ul class="bullets">
          <li>Observe and experience how a board or equivalent decision-making authority works</li>
          <li>Partner with an experienced mentor who guides them as they develop</li>
          <li>Contribute to board policy and decision-making</li>
          <li>Discover more about the routes for gaining executive level professional qualifications</li>
        </ul>    
        </p>
      </div>
    </div>
  </div>

  <div class="container about-cadence">
      <div class="row">
        <div class="item item--full">
          <h3 class="feature__heading">Workforce Race Equality Standard</h3>
          {% include "_includes/_divider.html" %}
        </div>
        <div class="item item--half">
          <p class="feature__desc">We are widely recognised as a market leader in delivering true race equality in the workplace. Within healthcare, we have designed programmes that enable Clinical Commissioning Groups and NHS Trusts to meet the requirements of the NHS Workforce Race Equality Standard (WRES).<br><br>

          The Cadence Partners advisory service developed a sophisticated WRES Legacy Champions Programme for NHS management. It addresses equality issues and creates the dynamics needed for change throughout the health service. <br><br>

          A planned network of Legacy Champions will be active influencers across the healthcare system of the future, supporting NHS organisations to improve the outcomes and experiences of BME staff. The increased knowledge, capacity and confidence of delegates to lead change individually and as a self-sustaining network will promote equality for BME staff within the NHS.<br><br>

          Our programme features include:<br>
          <ul class="bullets">
            <li>The use of innovative technology and social media, combined with interactive face-to-face sessions</li>
            <li>Programme material that is curated collaboratively and evolves, builds and layers information as the course progresses</li>
            <li>A <em>theory-of-change</em> methodology for planning, actioning and evaluating to promote positive social change for NHS organisations</li>
            <li>Methodology tailored for individual trusts and joint departments by the network of Legacy Champions working with NHS management and external experts. This includes defining long-term goals and mapping necessary pre-conditions to be met</li>
          </ul>    
          </p>
        </div>
      </div>
    </div>

{% endblock %}
