{% extends "_layout" %}
{% set title = "Executive Search" %}

{% block content %}

<!--Hero-->
<div class="container hero--about">
  <div class="row">
    <div class="item item--twothirds">
      <h1 class="hero__heading">Executive Search</h1>
      <h2 class="hero__strap">Organisations are arguably only as good as their people, especially in social sectors.</h2>
    </div>
  </div>
</div>

<div class="container about-cadence">
  <div class="row">
    <div class="item item--half">
      <h3 class="feature__heading">Executive talent is the key to success</h3>
      {% include "_includes/_divider.html" %}
      <p class="feature__desc">Executive talent is the key to success; flawed appointments are risky, costly and pointless. 
        Cadence Partners’ Search and Selection team supports organisations in making the best executive appointments. <br><br>
        
        We recognise that successful organisations are increasingly a product of intelligent, sophisticated business leaders who are globally astute and intellectually agile, so that's who we seek to provide you with.        
      </p>
    </div>
    <div class="item item--half">
      <h3 class="feature__heading">Our Process</h3>
      {% include "_includes/_divider.html" %}
      <ul class="process">
        <li>
          <strong>We start with you. </strong><br>
          Where do you want to go as an organisation? What are your objectives? We ask questions to discover more about you and your business.
        </li>
        <li>
          <strong>Our experts begin problem-solving.</strong><br>
          We propose industry solutions that deliver faster results, focused on value for money and long-term benefits while ensuring a remarkable depth of research and scope. 
        </li>
        <li>
          <strong>Our specialist teams make sure you're clued-up.</strong><br>
          Respected leaders in your market sector or business discipline give insight on current industry challenges, skills requirements and future forecasts to ensure you have all the information you need.
        </li>
        <li>
          <strong>We cut out time-wasting.</strong><br>
          All candidates are briefed by experts on the specific aspects of a role, so they can describe their own skills and relevant expertise in meaningful ways. Our shortlists are always diverse thanks to our excellent candidate networks in non-traditional areas.
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container about-cadence">
  <div class="row">
    <div class="item item--two-thirds">
      <h3 class="feature__heading">Our Services</h3>
      {% include "_includes/_divider.html" %}
      <ul class="bullets">
        <li>Thorough, in-depth consultation</li>
        <li>Full executive search, with advertising placement, response handling and selection</li>
        <li>Market mapping and talent tracking</li>
        <li>Recruitment process analysis, improvement advice and consultancy</li>
        <li>Candidate assessment and development</li>
        <li>Career counselling and executive coaching</li>
        <li>Access to a network of industry specialists, thought leaders and executive peers</li>
      </ul>
    </div>
  </div>
</div>

<div class="container about-cadence">
  <div class="row">
    <div class="item item--half">
      <h3 class="feature__heading">Board Development Practice</h3>
      {% include "_includes/_divider.html" %}
      <p class="feature__desc">Recruitment doesn't finish when the successful candidate takes up their role. We offer post-appointment services that help new acquisitions to understand their role and their fit in the organisation. This is particularly valuable to Chairs and Non-Executive Directors, who are not inside their organisation full-time. Our post-appointment services include inductions, mentoring, training opportunities, team building, peer support and appraisal. <br><br>

      With us by their side, new acquisitions have an independent sounding board for any concerns or questions they have. This personalised input allows us to build a long-term relationship, working closely with clients to better understand their values and needs both initially and into the future.     
      </p>
    </div>
    <div class="item item--half">
      <h3 class="feature__heading">Assessment</h3>
      {% include "_includes/_divider.html" %}
      <p class="feature__desc">Thorough assessment enables you to make the right decisions about who should lead your organisation. Weak appointments are complicated and expensive, so our assessment specialists tailor their candidate questions to the role within your company. <br><br>

      They can help you assess key components of the role – everything from transformational leadership and strategic vision, through to political insight, agile judgment, relationship-building and performance management, for example.<br><br>
      
      Our solutions identify how candidates naturally work, what differentiates them from others and whether their personality and strengths would be a harmonious fit with your business' culture and future plans.           
      </p>
    </div>
  </div>
</div>

<div class="container about-cadence">
  <div class="row">
    <div class="item item--half">
      <h3 class="feature__heading">Why use Cadence Partners for assessment?</h3>
      {% include "_includes/_divider.html" %}
      <p class="feature__desc">We offer a diverse range of assessment tools including WAVE, OPQ, FIRO-B, NEO PI-R, MBTI, Talent Q, Strengthscope, Leadership Judgement Indicator and Hogan. <br><br>

      All of our assessment practitioners are qualified to expert levels in leadership, management and career development, but they also have real employment experience.  As a result, our clients receive a distinctive service that is personal, business-centred and significantly better than traditional assessment formats alone.<br><br>
      
      We believe that bespoke assessment leads to better business decisions and more helpful feedback for unsuccessful applicants. It can also elevate the reputation of our client as it shows they are committed to leadership development.
      </p>
    </div>
  </div>
</div>

{% endblock %}
